@model RoleViewModel
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Role Ekle</h4>
                    <br />
                    <div class="basic-form">
                        <form action="AddRole" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control input-default" name="roleName" placeholder="Role Adi">
                            </div>
                            <button class="btn btn-outline-success" type="submit">Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Rol Listesi</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Rol Adi</th>
                                    <th>Rol Sahipleri</th>
                                    <th>Islemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var role in Model.RoleList)
                                {
                                    <tr>
                                        <th>@role.Id</th>
                                        <td class="role-name">@role.Name</td>
                                        <td>
                                            <a asp-action="DetailRole" asp-controller="Role" asp-route-id="@role.Id" class="btn btn-outline-secondary">Detaylar</a>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center gap-3">
                                                <form asp-action="DeleteRole" asp-controller="Role" method="post" onsubmit="return confirm('Bu rolü silmek istediğinize emin misiniz?');">
                                                    <input type="hidden" name="roleId" value="@role.Id" />
                                                    <button type="submit" class="btn btn-outline-danger">Sil</button>
                                                </form>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editRoleModal" onclick="openEditModal('@role.Id', '@role.Name')">
                                                    Güncelle
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editRoleModal" tabindex="-1" role="dialog" aria-labelledby="editRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editRoleModalLabel">Rolü Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="UpdateRole">
                    <div class="form-group">
                        <label for="editRoleId" class="col-form-label">Id:</label>
                        <input type="text" class="form-control" name="id" id="editRoleId" readonly>
                    </div>
                    <div class="form-group">
                        <label for="editRoleName" class="col-form-label">Rol Adı:</label>
                        <input type="text" class="form-control" name="roleName" id="editRoleName">
                    </div>
                    <button type="submit" class="btn btn-primary ">Güncelle</button>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script>
    let selectedRow = null;

    function openEditModal(roleId, roleName) {
        document.getElementById("editRoleId").value = roleId;
        document.getElementById("editRoleName").value = roleName;

        let rows = document.querySelectorAll("tbody tr");
        rows.forEach(row => {
            if (row.cells[0].innerText === roleId) {
                selectedRow = row;
            }
        });
    }
</script>
